{% import 'macros/_forms.html' as f %}

{% extends 'base.html' %}

{% block title %}Triager :: Create new project{% endblock %}

{% block content %}
  <h1>Create new project</h1>

  <form id="project-form-create" role="form" method="POST">
    {% include 'project/_form.html' %}

    {{ f.submit('Create new project') }}
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    function display_datasource_fields() {
      $('.datasource-fields').hide()
      var ds_type = $('#datasource_type').val()
      $('#' + ds_type + '-fields').show()
    }

    $(function() {
      $('#datasource_type').change(function() {
        display_datasource_fields()
      })
      display_datasource_fields()
    })
  </script>
{% endblock %}