{% import 'macros/_forms.html' as f %}

{% extends 'base.html' %}

{% block title %}Triager :: Create new project{% endblock %}

{% block content %}
  <h1>Create new project</h1>

  <form id="project-form-create" role="form" method="POST">
    {{ form.csrf_token }}

    {{ f.text_input(form.name, form.errors.name) }}
    {{ f.select(form.datasource_type, form.errors.datasource_type) }}
    {% for _, ds_form in ds_forms.items() %}
      {% if ds_form.populates == "BugzillaDataSource" %}
        <div id="{{ ds_form.populates }}-fields" class="datasource-fields"
             style="display: none;">
          {{ f.text_input(ds_form.filepath, ds_form.errors.filepath)}}
        </div>
      {% endif %}
    {% endfor %}

    {{ f.submit('Create new project') }}
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    function display_datasource_fields() {
      $('.datasource-fields').hide()
      var ds_type = $('#datasource_type').val()
      $('#' + ds_type + '-fields').show()
    }

    $(function() {
      $('#datasource_type').change(function() {
        display_datasource_fields()
      })
      display_datasource_fields()
    })
  </script>
{% endblock %}