{% import 'macros/_forms.html' as f %}

{% extends 'base.html' %}

{% block title %}Triager :: Triage {{ project.name }}{% endblock %}

{% block content %}
  <h1>Triage {{ project.name }}</h1>

  <div class="row">
    <div class="col-md-8">
      <form id="issue-form-triage" role="form" method="POST">
        {{ form.csrf_token }}
        
        {{ f.text_input(form.summary, form.errors.summary) }}
        {{ f.textarea(form.description, form.errors.description) }}
        {{ f.submit('Triage') }}
      </form>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Predicted Assignees</div>

        <!-- Table -->
        <table class="table">
          {% if predictions %}
            {% for prediction in predictions %}
              <tr>
                <td width="32px" class="text-center"><strong>{{ loop.index }}</strong></td>
                <td>
                {% if loop.index == 1 %}
                  <span id="prediction-{{ loop.index }}"
                        ondblclick="select(this);"><strong>{{ prediction }}</strong></span>
                {% else %}
                  <span id="prediction-{{ loop.index }}"
                        ondblclick="select(this);">{{ prediction }}</span>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr><td>No predictions.</td></tr>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}