{% macro text_input(field, errors) %}
<div class="form-group {% if errors %} has-error {% endif %}">
  {{ field.label(class='control-label') }}
  {{ field(class='form-control', placeholder=field.label.text) }}
  {% for error in errors %}
    <span class="help-block">{{ error }}</span>
  {% endfor %}
</div>
{% endmacro %}

{% macro select(field, errors) %}
<div class="form-group {% if errors %} has-error {% endif %}">
  {{ field.label(class='control-label') }}
  {{ field(class='form-control') }}
  {% for error in errors %}
    <span class="help-block">{{ error }}</span>
  {% endfor %}
</div>
{% endmacro %}

{% macro checkbox(field, errors) %}
<div class="checkbox {% if errors %} has-error {% endif %}">
  <label class="control-label">
    {{ field }}
    {{ field.label.text }}
  </label>
  {% for error in errors %}
    <span class="help-block">{{ error }}</span>
  {% endfor %}
</div>
{% endmacro %}

{% macro submit(content, class="btn btn-default btn-primary") %}
<button type="submit" class="{{ class }}">{{ content }}</button>
{% endmacro %}

{% macro textarea(field, errors) %}
<div class="form-group {% if errors %} has-error {% endif %}">
  {{ field.label(class='control-label') }}
  {{ field(class='form-control', placeholder=field.label.text, cols="35", rows="20") }}
  {% for error in errors %}
    <span class="help-block">{{ error }}</span>
  {% endfor %}
</div>
{% endmacro %}