{% extends 'base.html' %}

{% block title %}Triager :: Homepage :: List of projects{% endblock %}

{% block content %}
  <h1>List of projects</h1>

  {% if projects.first() %}
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td>{{ project.id }}</td>
            <td><a href="{{ url_for('view_project', id=project.id) }}">{{ project.name }}</a></td>
            <td>{{ project.train_status | readable_train_status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>There are currently no projects.</p>
  {% endif %}
{% endblock %}