{% import 'macros/_forms.html' as f %}

{% extends 'base.html' %}

{% block title %}Triager :: Settings{% endblock %}

{% block content %}
  <h1>Settings</h1>

  <form id="settings-form" role="form" method="POST">
    {{ form.csrf_token }}

    <fieldset>
      <legend>General</legend>

      {{ f.text_input(form.general__ticket_limit, form.errors.general__ticket_limit) }}
      {{ f.text_input(form.general__min_class_occur, form.errors.general__min_class_occur) }}
    </fieldset>

    <fieldset>
      <legend>Authentication</legend>

      {{ f.text_input(form.auth__admin, form.errors.auth__admin) }}
    </fieldset>

    <fieldset>
      <legend>Defaults</legend>

      {{ f.text_input(form.defaults__schedule, form.errors.defaults__schedule) }}
    </fieldset>

    <fieldset>
      <legend>Model settings</legend>

      {{ f.text_input(form.svm__coefficient, form.errors.svm__coefficient) }}
      {{ f.text_input(form.svm__cache_size, form.errors.svm__cache_size) }}
    </fieldset>

    <fieldset>
      <legend>Jira Data Source settings</legend>

      {{ f.text_input(form.jira__default_statuses, form.errors.jira__default_statuses) }}
      {{ f.text_input(form.jira__default_resolutions, form.errors.jira__default_resolutions) }}
    </fieldset>

    {{ f.submit('Save') }}
  </form>
{% endblock %}